<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="/favicon.ico">
    <title><%= title %></title>
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a elit sit amet urna facilisis tristique quis consequat libero.</p>
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-light bg-light">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand">
            <img src="/img/nniverse.svg" width="83" height="50" class="d-inline-block align-top" alt="nniverse">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"><%= title %></h1>
          <p class="lead text-muted"><%= title %>!</p>
          <p>
          </p>
        </div>
      </section>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>&copy; nniverse.com</p>
      </div>
    </footer>

    <script src="/dist/jquery.slim.min.js"></script>
    <script src="/dist/umd/popper.min.js"></script>
    <script src="/holder.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
